.landing_bg {
    background: #1E1E1E;
}

.blue-grow {
    width: 958px;
    height: 958px;
    left: -151px;
    top: 0px;
    background: rgba(12, 35, 76, 0.37);
    mix-blend-mode: normal;
    filter: blur(200px);
}

.purple-grow {
    width: 1145px;
    height: 1145px;
    left: 756px;
    top: -319px;
    background: rgba(173, 0, 255, 0.35);
    mix-blend-mode: normal;
    opacity: 0.4;
    filter: blur(200px);
}